@import "@/styles/setup/variables.scss";

.profile-header {
	background-color: $morePostsBtn;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}
.white-profile-pic {
	width: 100px;
	height: 100px;
	line-height: 100px;
	border-radius: 50%;
	background-color: $white;
	color: $white;
	margin: 2.5rem 0;
	box-shadow: 0px 1px 10px rgb(0 0 0 / 10%);
}
.card {
	background-color: transparent !important;
	border: none !important;
}
.card-header {
	background-color: $morePostsBtn !important;
}
.nav-link {
	background-color: transparent !important;
	color: $darkgray !important;
	font-size: 1.4rem !important;
	margin: 0 1.25rem;
	text-align: center;
	&:hover {
		border: none !important;
		border-bottom: 3px solid $darkgray !important;
	}
}
.nav-link.active {
	border: none !important;
	border-bottom: 3px solid $orange !important;
	color: $orange !important;
}
.table-key {
	color: $darkgray;
	opacity: 0.6;
}
th {
	padding: 0.5rem 2.2rem;
	font-weight: 900;
}
td {
	padding: 0.5rem 2.2rem;
	font-weight: 900;
}
@media (max-width: 768px) {
	th {
		padding: 0.5rem 1.2rem;
		font-weight: 900;
	}
	td {
		padding: 0.5rem 1.2rem;
		font-weight: 900;
	}
}
